input,
button {
   font-size: 2rem;
}

div.gallery{
   font-size: 1.5rem;
   color: white;
}

.gallery{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
}

.gallery__item{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
}
body {
   background-color: #222;
}

.clickeado {
   background-color: grey;
}